{% macro textInput(id, label, value, error, related, hintText, readonly) %}
<div class="form-group{% if related %}-related{% endif %}{% if error %} form-group-error{% endif %}">
    <label class="form-label block-label" for="{{ id }}">{{ label }}
        {% if hintText %}
            <span class="form-hint">
                {{ hintText }}
            </span>
        {% endif %}
        {% if error %}
            <span class="error-message">{{ error.msg }}</span>
        {% endif %}
        <input id="{{ id }}" class="form-control form-control-full {% if error %}form-control-error{% endif %} block-input" type="text" name="{{ id }}" value="{{ value }}" {% if readonly %}readonly{% endif %}>
    </label>
</div>
{% endmacro %}

{% macro submitInput(value, type, name) %}
<input {% if name %}id="{{ name }}" name="{{ name }}"{% endif %}class="button {% if type %}{{ type }}{% endif %}" type="submit" name="submit" value="{{ value }}">
{% endmacro %}

{% macro hiddenInput(id, value) %}
<input id="{{ id }}" name="{{ id }}" type="hidden" name="submit" value="{{ value }}">
{% endmacro %}
