<p class="room-details"><strong class="strong">Equipment: </strong>{{ room.equipment | join(',') }}</p>
<p class="room-details"><strong class="strong">Seating: </strong>{{ room.sitting }}</p>
<p class="room-details"><strong class="strong">Standing: </strong>{{ room.standing }}</p>
