{% extends "nunjucks/templates/govuk_template.njk" %}
{% import "nunjucks/macros/typography.njk" as typography %}
{% import "nunjucks/macros/tables.njk" as tables %}

{% block pre_content %}
    {{ typography.mainHeading('Choose a room')}}
    {{ typography.paragraph('This system is only for use by people based in Leeds One. All meetings must have someone in Leeds One attending', 'lede')}}
{% endblock %}

{% block content %}
    {{ typography.heading('Leeds One', 2, 'heading heading-medium')}}
    {{ tables.chooseRoom(rooms) }}
{% endblock %}
